table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-content: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #f9f9f9 !important;
  } */

  table.dataTable thead th{
    background-color: #3F72AF !important;
  }