@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

:root {
  counter-reset: no;

  --primary-font: "Open Sans", sans-serif;
}

/* utility classes */
.text-center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.header h1 {
  text-align: center;
  color: red;
  margin: 50px 0;
}
.nav h1,
#data-container {
  padding: 0 30px;
}

/* tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Mengatur tampilan header tabel */
th {
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 8px;
}

/* Mengatur tampilan baris tabel */
td {
  border: 1px solid #ddd; /* Border sel */
  padding: 8px;
}

/* Memberikan warna bergantian untuk baris tabel */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Mengatur hover efek pada baris tabel */
tr:hover {
  background-color: #ddd;
}

/* Membuat teks di dalam sel menjadi rata kiri */
td,
th {
  text-align: left;
}

/* Table counter */
.nyc-sales #no {
  counter-increment: no;
}
.nyc-sales #no::before {
  content: counter(no);
}
