/* header section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, var(--secondary-color), #000);
  padding: 20px;
  color: white;
  border-radius: 15px;
}

.hero-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.search-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-image {
  background-image: url("./assets/hero-logo.png");
  background-size: fixed;
  width: 50%;
  height: 617px;
}

.contact .button {
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact .button:hover {
  background-color: #ccc;
}

/* end header section */
