<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <!--  navbar section -->
<div id="navbar">
  <div class="navbarContainer">
    <div class="navbar">
      <div class="logo">
        <i class="fas fa-water"></i>NYC
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#units">Unit</a></li>
        <li><a href="#sales">Sales</a></li>
        <li><a href="#team">Our Team</a></li>
      </ul>
      <button class="button">Contact Us</button>
    </div>
  </div>
</div>
  <!-- end navbar section-->
</body>
</html>